<div class="jumbotron">
  <div class="alinhaCentro">
    <h1>Novo Post</h1>
  </div>

  <%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <label>Título</label><br>
    <%= f.text_field :title, class: "form-control" %>
  </div>
  <div class="field">
    <label>Conteúdo</label><br>
    <%= f.text_field :content, class: "form-control" %>
  </div>
  <div class="actions alinhaCentro">
    <%= f.submit 'Postar', class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="alinhaDireita">
    <%= link_to 'Voltar', posts_path, class: "btn btn-primary" %>
  </div>
</div>


