<p id="notice"><%= notice %></p>

 <!-- Blog Posts-->
  <div class="divPosts alinhaCentro">
    <div>
        <h2 class="postTitle">
          <%= @post.title %>
        </h2>
        <p><span class="glyphicon glyphicon-time"></span> Postado em <%= @post.created_at.strftime("%d/%m/%Y às %H:%M") %>.</p>
        <div>
          <p class="negrito"><%= @post.content %></p>
          <br/>
          <div class="alinhaCentro">
            <p><span class="glyphicon glyphicon-time"></span> Atualizado em <%= @post.updated_at.strftime("%d/%m/%Y às %H:%M") %>.</p>
          </div>
          <div class="alinhaDireita">
            <%= link_to 'Editar post', edit_post_path, class: "btn btn-primary" %>
          </div>
          <hr>
          <div>
            <div>
              <h5 class="negrito">Comentários:</h5>
              <%= @post.comments.each do |comment| %>
                <div class="comentarios">
                  <p class="negrito autorComent"><%= comment.author %> em <%= comment.created_at.strftime("%d/%m/%Y às %H:%M") %></p>
                  <p class="conteudoCoxment"><%= comment.body %></p>
                  <%= link_to '<button class="btn btn-primary">Editar</button>'.html_safe, edit_comment_path(comment)  %>
                  <%= link_to '<button class="btn btn-primary">Apagar</button>'.html_safe, comment, method: :delete, data: { confirm: 'Tem certeza?' } %>
                </div>
                <br/>
              <% end %>
            </div>
          </div>
        </div>
    </div>

  <p class="negrito">Comente este post:</p>
    <%= form_for(Comment.new, method: :post) do |comment| %>
        <input id="comment_post_id" type="hidden" name="comment[post_id]" value="<%= @post.id %>" />
        <label>Autor:</label>
        <p><%= comment.text_field :author, autocomplete: "off" %></p>
        <label>Comentário:</label>
        <p><%= comment.text_field :body, autocomplete: "off" %></p>
        <div class="alinhaCentro">
          <%= submit_tag 'Comentar', class: "btn btn-primary" %>
        </div>
    <% end %>
    <hr>
  </div>
